<a href="https://colab.research.google.com/github/chathasphere/chathasphere.github.io/blob/main/teaching/306_materials/003_lab3_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 3: Data Wrangling in dplyr

## January 24th, 2022

In [1]:
library(tidyverse)

install.packages("gapminder") # this is how you import a non-default package 
library(gapminder) # this package contains the data set we'll be using

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# 1. Review 
### `filter`, `arrange` and piping syntax

Recall that `dplyr` has five fundamental functions for manipulating and cleaning ("wrangling") data: `filter`, `arrange`, `select`, `mutate` and `summarise`.

## 1.1 Piping

Recall that the pipe operator `%>%` allows you to apply one or more functions to a tibble. Sample syntax:

`myTibble %>% someFunction(secondArg, thirdArg, ...)`

is equivalent to 

`someFunction(myTibble, secondArg, thirdArg, ...)`.

In [2]:
# head(gapminder, 10)

gapminder %>% head(10) # get the first 10 rows of the gapminder data set

   country     continent year lifeExp pop      gdpPercap
1  Afghanistan Asia      1952 28.801   8425333 779.4453
2  Afghanistan Asia      1957 30.332   9240934 820.8530
3  Afghanistan Asia      1962 31.997  10267083 853.1007
4  Afghanistan Asia      1967 34.020  11537966 836.1971
5  Afghanistan Asia      1972 36.088  13079460 739.9811
6  Afghanistan Asia      1977 38.438  14880372 786.1134
7  Afghanistan Asia      1982 39.854  12881816 978.0114
8  Afghanistan Asia      1987 40.822  13867957 852.3959
9  Afghanistan Asia      1992 41.674  16317921 649.3414
10 Afghanistan Asia      1997 41.763  22227415 635.3414

## 1.2 Filter

Obtain **rows** that satisfy some logical condition

In [3]:
# what if I want data from the year 1982?
gapminder %>% filter(year == 1982) %>% head

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1982 39.854  12881816   978.0114
2 Albania     Europe    1982 70.420   2780097  3630.8807
3 Algeria     Africa    1982 61.368  20033753  5745.1602
4 Angola      Africa    1982 39.942   7016384  2756.9537
5 Argentina   Americas  1982 69.942  29341374  8997.8974
6 Australia   Oceania   1982 74.740  15184200 19477.0093

Exercise 1: Return all rows corresponding to Asian countries with a life expectancy of at least 75 years in the year 2007.

In [4]:
gapminder %>% filter(continent == "Asia" & lifeExp >= 75 & year == 2007)

  country          continent year lifeExp pop       gdpPercap
1 Bahrain          Asia      2007 75.635     708573 29796.05
2 Hong Kong, China Asia      2007 82.208    6980412 39724.98
3 Israel           Asia      2007 80.745    6426679 25523.28
4 Japan            Asia      2007 82.603  127467972 31656.07
5 Korea, Rep.      Asia      2007 78.623   49044790 23348.14
6 Kuwait           Asia      2007 77.588    2505559 47306.99
7 Oman             Asia      2007 75.640    3204897 22316.19
8 Singapore        Asia      2007 79.972    4553009 47143.18
9 Taiwan           Asia      2007 78.400   23174294 28718.28

## 1.3 Arrange

Sort a tibble's rows (ascending order by default) based on one or more columns

In [6]:
# get the rows with the largest gdp per capita
gapminder %>% arrange(desc(gdpPercap)) %>% head
# note that it's all the same country (Kuwait) over different eyars

  country          continent year lifeExp pop      gdpPercap
1 Congo, Dem. Rep. Africa    2002 44.966  55379852 241.1659
2 Congo, Dem. Rep. Africa    2007 46.462  64606759 277.5519
3 Lesotho          Africa    1952 42.138    748747 298.8462
4 Guinea-Bissau    Africa    1952 32.500    580653 299.8503
5 Congo, Dem. Rep. Africa    1997 42.587  47798986 312.1884
6 Eritrea          Africa    1952 35.928   1438760 328.9406

In [8]:
# you can also arrange based on a function of a column(s)
# gapminder %>% arrange(year, gdpPercap) %>% head
gapminder %>% arrange(desc(lifeExp / gdpPercap)) %>% head

  country          continent year lifeExp pop      gdpPercap
1 Congo, Dem. Rep. Africa    2002 44.966  55379852 241.1659
2 Myanmar          Asia      1992 59.320  40546538 347.0000
3 Congo, Dem. Rep. Africa    2007 46.462  64606759 277.5519
4 Myanmar          Asia      1987 58.339  38028578 385.0000
5 Myanmar          Asia      1977 56.059  31528087 371.0000
6 Myanmar          Asia      1972 53.070  28466390 357.0000

Exercise 2: For each year, starting from the most recent year (2007) going backwards, sort the data alphabetically by country name. 

*Hint: the first two rows should be "Afghanistan/2007" and "Albania/2007" *

In [10]:
# your code here
gapminder %>% arrange( desc(year), country ) %>% head

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      2007 43.828  31889923   974.5803
2 Albania     Europe    2007 76.423   3600523  5937.0295
3 Algeria     Africa    2007 72.301  33333216  6223.3675
4 Angola      Africa    2007 42.731  12420476  4797.2313
5 Argentina   Americas  2007 75.320  40301927 12779.3796
6 Australia   Oceania   2007 81.235  20434176 34435.3674

## 1.4 Chaining Dplyr Operations

Each of the five `dplyr` functions take a tibble as their first argument and return a tibble.

Therefore, we can chain together multiple `dplyr` operations. Think of fitting a bunch of pipe segments together--the data flows through the pipe and comes out transformed.

In [11]:
# sort countries by population (large to small) based on 1952 pop
# then get the top 10
gapminder %>% filter(year == 1952) %>% arrange(desc(pop)) %>% head(10)

# USSR would have been number 3
# Germany was two countries (DDR/BRD)
# Bangladesh was part of Pakistan
# clearly, tracking countries over several decades is a little confusing...

   country        continent year lifeExp pop       gdpPercap
1  China          Asia      1952 44.000  556263527   400.4486
2  India          Asia      1952 37.373  372000000   546.5657
3  United States  Americas  1952 68.440  157553000 13990.4821
4  Japan          Asia      1952 63.030   86459025  3216.9563
5  Indonesia      Asia      1952 37.468   82052000   749.6817
6  Germany        Europe    1952 67.500   69145952  7144.1144
7  Brazil         Americas  1952 50.917   56602560  2108.9444
8  United Kingdom Europe    1952 69.180   50430000  9979.5085
9  Italy          Europe    1952 65.940   47666000  4931.4042
10 Bangladesh     Asia      1952 37.484   46886859   684.2442

Exercise 3: For the year 2007, return the 10 African countries with the highest life expectancy (sorted high to low)

In [12]:
# your code here
gapminder %>% filter(year == 2007, continent == "Africa") %>%
  arrange(desc(lifeExp)) %>% head(10)

   country               continent year lifeExp pop      gdpPercap
1  Reunion               Africa    2007 76.442    798094  7670.1226
2  Libya                 Africa    2007 73.952   6036914 12057.4993
3  Tunisia               Africa    2007 73.923  10276158  7092.9230
4  Mauritius             Africa    2007 72.801   1250882 10956.9911
5  Algeria               Africa    2007 72.301  33333216  6223.3675
6  Egypt                 Africa    2007 71.338  80264543  5581.1810
7  Morocco               Africa    2007 71.164  33757175  3820.1752
8  Sao Tome and Principe Africa    2007 65.528    199579  1598.4351
9  Comoros               Africa    2007 65.152    710960   986.1479
10 Mauritania            Africa    2007 64.164   3270065  1803.1515

Exercise 4: For each available year from 1952-2007, sort countries in the Americas by gdp per capita from lowest to highest

In [13]:
gapminder %>% filter(continent == "Americas") %>%
  arrange(year, gdpPercap)

    country             continent year lifeExp pop       gdpPercap
1   Dominican Republic  Americas  1952 45.928    2491346  1397.717
2   Haiti               Americas  1952 37.579    3201488  1840.367
3   Paraguay            Americas  1952 62.649    1555876  1952.309
4   Brazil              Americas  1952 50.917   56602560  2108.944
5   Colombia            Americas  1952 50.643   12350771  2144.115
6   Honduras            Americas  1952 41.912    1517453  2194.926
7   Guatemala           Americas  1952 42.023    3146381  2428.238
8   Panama              Americas  1952 55.191     940080  2480.380
9   Costa Rica          Americas  1952 57.206     926317  2627.009
10  Bolivia             Americas  1952 40.414    2883315  2677.326
11  Jamaica             Americas  1952 58.530    1426095  2898.531
12  Trinidad and Tobago Americas  1952 59.100     662850  3023.272
13  El Salvador         Americas  1952 45.262    2042865  3048.303
14  Puerto Rico         Americas  1952 64.280    2227000  3081.960
15  Nicaragua           Americas  1952 42.314    1165790  3112.364
16  Mexico              Americas  1952 50.789   30144317  3478.126
17  Ecuador             Americas  1952 48.357    3548753  3522.111
18  Peru                Americas  1952 43.902    8025700  3758.523
19  Chile               Americas  1952 54.745    6377619  3939.979
20  Cuba                Americas  1952 59.421    6007797  5586.539
21  Uruguay             Americas  1952 66.071    2252965  5716.767
22  Argentina           Americas  1952 62.485   17876956  5911.315
23  Venezuela           Americas  1952 55.088    5439568  7689.800
24  Canada              Americas  1952 68.750   14785584 11367.161
25  United States       Americas  1952 68.440  157553000 13990.482
26  Dominican Republic  Americas  1957 49.828    2923186  1544.403
27  Haiti               Americas  1957 40.696    3507701  1726.888
28  Paraguay            Americas  1957 63.196    1770902  2046.155
29  Bolivia             Americas  1957 41.890    3211738  2127.686
30  Honduras            Americas  1957 44.665    1770390  2220.488
⋮   ⋮                   ⋮         ⋮    ⋮       ⋮         ⋮
271 Chile               Americas  2002 77.860   15497046 10778.784
272 Trinidad and Tobago Americas  2002 68.976    1101832 11460.600
273 Puerto Rico         Americas  2002 77.778    3859606 18855.606
274 Canada              Americas  2002 79.770   31902268 33328.965
275 United States       Americas  2002 77.310  287675526 39097.100
276 Haiti               Americas  2007 60.916    8502814  1201.637
277 Nicaragua           Americas  2007 72.899    5675356  2749.321
278 Honduras            Americas  2007 70.198    7483763  3548.331
279 Bolivia             Americas  2007 65.554    9119152  3822.137
280 Paraguay            Americas  2007 71.752    6667147  4172.838
281 Guatemala           Americas  2007 70.259   12572928  5186.050
282 El Salvador         Americas  2007 71.878    6939688  5728.354
283 Dominican Republic  Americas  2007 72.235    9319622  6025.375
284 Ecuador             Americas  2007 74.994   13755680  6873.262
285 Colombia            Americas  2007 72.889   44227550  7006.580
286 Jamaica             Americas  2007 72.567    2780132  7320.880
287 Peru                Americas  2007 71.421   28674757  7408.906
288 Cuba                Americas  2007 78.273   11416987  8948.103
289 Brazil              Americas  2007 72.390  190010647  9065.801
290 Costa Rica          Americas  2007 78.782    4133884  9645.061
291 Panama              Americas  2007 75.537    3242173  9809.186
292 Uruguay             Americas  2007 76.384    3447496 10611.463
293 Venezuela           Americas  2007 73.747   26084662 11415.806
294 Mexico              Americas  2007 76.195  108700891 11977.575
295 Argentina           Americas  2007 75.320   40301927 12779.380
296 Chile               Americas  2007 78.553   16284741 13171.639
297 Trinidad and Tobago Americas  2007 69.819    1056608 18008.509
298 Puerto Rico         Americas  2007 78.746    3942491 19328.709
299 Canada              Americas  2007 80.653   33390141 36319.235
300 United States       Americas  2007 78.242  301139947 42951.653

# 2. Select

Return one or more columns of a tibble. (In comparison, `filter` returns rows that match some criterion.)

In [14]:
# simplest use case
gapminder %>% select(year) %>% head

  year
1 1952
2 1957
3 1962
4 1967
5 1972
6 1977

In [19]:
# we can use vector-like notation to select multiple columns
gapminder %>% select(continent:pop) %>% head

# or just list them separated by commas
gapminder %>% select(pop, country, lifeExp) %>% head

# select based on logical conditions
# ends_with and starts_with 
# can be useful for "wide" data sets
gapminder %>% select(starts_with("co")) %>% head

# select columns by a specific type
# is.factor, is.integer, is.double, and is.character
# can come in handy here!
gapminder %>% select(where(is.factor)) %>% head

  continent year lifeExp pop
1 Asia      1952 28.801   8425333
2 Asia      1957 30.332   9240934
3 Asia      1962 31.997  10267083
4 Asia      1967 34.020  11537966
5 Asia      1972 36.088  13079460
6 Asia      1977 38.438  14880372

  pop      country     lifeExp
1  8425333 Afghanistan 28.801
2  9240934 Afghanistan 30.332
3 10267083 Afghanistan 31.997
4 11537966 Afghanistan 34.020
5 13079460 Afghanistan 36.088
6 14880372 Afghanistan 38.438

  country     continent
1 Afghanistan Asia
2 Afghanistan Asia
3 Afghanistan Asia
4 Afghanistan Asia
5 Afghanistan Asia
6 Afghanistan Asia

  country     continent
1 Afghanistan Asia
2 Afghanistan Asia
3 Afghanistan Asia
4 Afghanistan Asia
5 Afghanistan Asia
6 Afghanistan Asia

In [20]:
# rename columns if you wish
# syntax: new_name = old_name
gapminder %>% select(life_expectancy = lifeExp) %>% head

  life_expectancy
1 28.801
2 30.332
3 31.997
4 34.020
5 36.088
6 38.438

Exercise 5: Without explicitly naming any columns, select the columns that have type "double."

In [49]:
# your code here
gapminder %>% select(where(is.double)) %>% head

  lifeExp gdpPercap
1 28.801  779.4453
2 30.332  820.8530
3 31.997  853.1007
4 34.020  836.1971
5 36.088  739.9811
6 38.438  786.1134

# 3. Mutate

Apply a function to a column to create a new column.

In [26]:
# I want to read population in the millions
gapminder %>% arrange(desc(pop)) %>% mutate(pop_in_millions = pop / 1000000) %>% head

# convert years to French Republican calendar (lol)
gapminder %>% sample_n(7) %>% mutate(new_calendar_year = year - 1792) %>% 
  select(country, ends_with("year"))

  country continent year lifeExp pop        gdpPercap pop_in_millions
1 China   Asia      2007 72.961  1318683096 4959.115  1318.683
2 China   Asia      2002 72.028  1280400000 3119.281  1280.400
3 China   Asia      1997 70.426  1230075000 2289.234  1230.075
4 China   Asia      1992 68.690  1164970000 1655.784  1164.970
5 India   Asia      2007 64.698  1110396331 2452.210  1110.396
6 China   Asia      1987 67.274  1084035000 1378.904  1084.035

  country     year new_calendar_year
1 Cameroon    1952 160
2 Slovenia    1967 175
3 Syria       1987 195
4 Puerto Rico 1982 190
5 Senegal     1987 195
6 Colombia    1997 205
7 Chad        1957 165

In [27]:
# you don't have to explicitly rename the column yourself
# (though it's generally a good idea to give meaningful names)
gapminder %>% mutate(lifeExp * 12) %>% head

  country     continent year lifeExp pop      gdpPercap lifeExp * 12
1 Afghanistan Asia      1952 28.801   8425333 779.4453  345.612
2 Afghanistan Asia      1957 30.332   9240934 820.8530  363.984
3 Afghanistan Asia      1962 31.997  10267083 853.1007  383.964
4 Afghanistan Asia      1967 34.020  11537966 836.1971  408.240
5 Afghanistan Asia      1972 36.088  13079460 739.9811  433.056
6 Afghanistan Asia      1977 38.438  14880372 786.1134  461.256

Exercise 6: Create new columns corresponding to log-scaled versions of the decimal columns and return only these columns.

Imaginary bonus points for compact notation.

In [48]:
# your code here

gapminder %>% mutate(log_life_exp = log(lifeExp), log_gdp_per_cap = log(gdpPercap)) %>% 
  select(starts_with("log")) %>% head

  log_life_exp log_gdp_per_cap
1 3.360410     6.658583
2 3.412203     6.710344
3 3.465642     6.748878
4 3.526949     6.728864
5 3.585960     6.606625
6 3.649047     6.667101

In [36]:
gapminder %>% mutate(across(where(is.double), log)) %>%
  select(where(is.double)) %>% head

  lifeExp  gdpPercap
1 3.360410 6.658583
2 3.412203 6.710344
3 3.465642 6.748878
4 3.526949 6.728864
5 3.585960 6.606625
6 3.649047 6.667101

In [37]:
# there's a flashy way of applying mutations across multiple columns
# this takes the square root of each of the numeric columns
gapminder %>% mutate(across(where(is.numeric), sqrt)) %>% head

  country     continent year     lifeExp  pop      gdpPercap
1 Afghanistan Asia      44.18144 5.366656 2902.642 27.91855
2 Afghanistan Asia      44.23799 5.507450 3039.890 28.65053
3 Afghanistan Asia      44.29447 5.656589 3204.229 29.20789
4 Afghanistan Asia      44.35087 5.832667 3396.758 28.91707
5 Afghanistan Asia      44.40721 6.007329 3616.554 27.20259
6 Afghanistan Asia      44.46347 6.199839 3857.509 28.03771

# 4. Summarise

Calculate a summary statistic of a tibble, returning one observation.

When given grouped data (using the `group_by` function) we get one observation per group.

In [38]:
# this is not particularly interesting, but hey
gapminder %>% filter(continent == "Asia" & year == "1977") %>%
  summarise(median_life_exp = median(lifeExp))

  median_life_exp
1 60.765

In [40]:
# grouping data makes things a bit more fun!
# calculates the median life expectancy for countries in each continent
gapminder %>% filter(year == "1977") %>% group_by(continent) %>%
  summarise(median_life_exp = median(lifeExp))

# can get multiple summary statistics for each group
gapminder %>% filter(year == "1977") %>% group_by(continent) %>%
  summarise(min = min(pop), med = median(pop), max = max(pop), mean_pop = mean(pop))

  continent median_life_exp
1 Africa    49.2725
2 Americas  66.3530
3 Asia      60.7650
4 Europe    72.3350
5 Oceania   72.8550

  continent min     med      max       mean_pop
1 Africa      86796  4522666  62209173  8328097
2 Americas  1039009  5302800 220239000 23122708
3 Asia       297410 13933198 943455000 72257987
4 Europe     221823  8741694  78160773 17238818
5 Oceania   3164900  8619500  14074100  8619500

In [41]:
# we can count how many countries are in each continent for a given year
gapminder %>% filter(year == "2002") %>% 
  group_by(continent) %>% summarise(n_countries = n())

# basically equivalent to the following:
# using basic R
gapminder_2002 <- gapminder %>% filter(year == "2002")
table(gapminder_2002$continent)

  continent n_countries
1 Africa    52
2 Americas  25
3 Asia      33
4 Europe    30
5 Oceania    2

  Africa Americas     Asia   Europe  Oceania
      52       25       33       30        2

In [42]:
# group by multiple columns
gapminder %>% filter(year > 1990) %>%
  group_by(continent, year) %>% 
  summarise(med_life_exp = median(lifeExp))

`summarise()` has grouped output by 'continent'. You can override using the `.groups` argument.

   continent year med_life_exp
1  Africa    1992 52.4290
2  Africa    1997 52.7590
3  Africa    2002 51.2355
4  Africa    2007 52.9265
5  Americas  1992 69.8620
6  Americas  1997 72.1460
7  Americas  2002 72.0470
8  Americas  2007 72.8990
9  Asia      1992 68.6900
10 Asia      1997 70.2650
11 Asia      2002 71.0280
12 Asia      2007 72.3960
13 Europe    1992 75.4510
14 Europe    1997 76.1160
15 Europe    2002 77.5365
16 Europe    2007 78.6085
17 Oceania   1992 76.9450
18 Oceania   1997 78.1900
19 Oceania   2002 79.7400
20 Oceania   2007 80.7195

In [43]:
# example of advanced dplyr
# (probably not going to be doing stuff life this)
# Which countries have had the most gdp per capita gain since 1952?
gapminder %>% group_by(country) %>%
  arrange(year) %>%
  # gdp per cap in 2007 - gdp per cap in 1952, for *each* country
  mutate(gdp_gain = last(gdpPercap) - first(gdpPercap)) %>%
  arrange(desc(gdp_gain)) %>% filter(year == 2002) %>%
  select(country, gdp_gain) %>% head(10)

   country          gdp_gain
1  Singapore        44828.04
2  Norway           39261.77
3  Hong Kong, China 36670.56
4  Ireland          35465.72
5  Austria          29989.42
6  United States    28961.17
7  Iceland          28913.10
8  Japan            28439.11
9  Netherlands      27856.36
10 Taiwan           27511.33

Exercise 7: Find the interquartile range in life expectancy for each continent by year.

In [47]:
# your code here
gapminder %>% group_by(continent, year) %>%
  # summarise(iqr_range = quantile(lifeExp, 0.75) - quantile(lifeExp, 0.25))
  summarise(iqr_range = IQR(lifeExp))

`summarise()` has grouped output by 'continent'. You can override using the `.groups` argument.

   continent year iqr_range
1  Africa    1952  6.30600
2  Africa    1957  7.41600
3  Africa    1962  8.27825
4  Africa    1967  8.15800
5  Africa    1972  8.24800
6  Africa    1977  9.35800
7  Africa    1982 10.97025
8  Africa    1987 12.61800
9  Africa    1992 11.90350
10 Africa    1997 11.92825
11 Africa    2002 11.85300
12 Africa    2007 11.61025
13 Americas  1952 14.15900
14 Americas  1957 14.04000
15 Americas  1962 12.83500
16 Americas  1967  9.77900
17 Americas  1972  9.64200
18 Americas  1977 11.03400
19 Americas  1982  9.39900
20 Americas  1987  7.42600
21 Americas  1992  5.95400
22 Americas  1997  4.83500
23 Americas  2002  4.57300
24 Americas  2007  4.63200
25 Asia      1952 11.52200
26 Asia      1957 12.17600
27 Asia      1962 12.42164
28 Asia      1967 12.10400
29 Asia      1972 12.05400
30 Asia      1977 10.45800
31 Asia      1982 11.26800
32 Asia      1987  9.67300
33 Asia      1992 10.35900
34 Asia      1997 10.68100
35 Asia      2002 10.58300
36 Asia      2007 10.15200
37 Europe    1952  6.78500
38 Europe    1957  4.18500
39 Europe    1962  3.20750
40 Europe    1967  2.75000
41 Europe    1972  2.59500
42 Europe    1977  3.29500
43 Europe    1982  4.11750
44 Europe    1987  4.84250
45 Europe    1992  5.45875
46 Europe    1997  4.96625
47 Europe    2002  4.66750
48 Europe    2007  4.78250
49 Oceania   1952  0.13500
50 Oceania   1957  0.03500
51 Oceania   1962  0.15500
52 Oceania   1967  0.21000
53 Oceania   1972  0.02000
54 Oceania   1977  0.63500
55 Oceania   1982  0.45000
56 Oceania   1987  1.00000
57 Oceania   1992  0.61500
58 Oceania   1997  0.64000
59 Oceania   2002  0.63000
60 Oceania   2007  0.51550