<a href="https://colab.research.google.com/github/chathasphere/chathasphere.github.io/blob/main/teaching/306_materials/003_lab10_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 10: Lists, Loops, Functions, Mapping
## April 5th, 2022

In [1]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# 1. Lists and Vectors (again)

Whereas atomic vectors are sequences of a fixed type (e.g. character, integer), lists are "recursive" data structures. They can hold values of different types, even other lists.

In [2]:
z <- list(values=sin(1:3), ids=letters[1:3], sub=list(foo=42,bar=13))
z

$values
[1] 0.8414710 0.9092974 0.1411200

$ids
[1] "a" "b" "c"

$sub
$sub$foo
[1] 42

$sub$bar
[1] 13

In [4]:
y <- vector(mode = "list", length = 3) #somewhat unintuitively, you can initialize an empty list using the "vector" function
y[[1]] <- 4
y[2] <- 5
y$sublist <- list(night=F, day=T)
y

[[1]]
[1] 4

[[2]]
[1] 5

[[3]]
NULL

$sublist
$sublist$night
[1] FALSE

$sublist$day
[1] TRUE

### 1.1 How does `[[.]]` differ from `[.]` when you are subsetting a list?

In [7]:
x = list(4,5,6)

In [8]:
x

[[1]]
[1] 4

[[2]]
[1] 5

[[3]]
[1] 6

In [9]:
x[1] # A slice from the list, still a list
class(x[1])

[[1]]
[1] 4

[1] "list"

In [13]:
x[[1]] # Accessing first element of the list
class(x[[1]])

[1] 4

[1] "numeric"

### 1.2 How do you extract the last value of an atomic vector?

In [14]:
x  <- c(-3,-2,-1)
x[length(x)]

# python 
# x[-1]

[1] -1

### 1.3. How do you extract every value but the last value of an atomic vector?

In [15]:
x[-length(x)] # different syntax from Python

[1] -3 -2

In [18]:
x[-c(1,2)]

[1] -1

### 1.4. Why is `x[-which(x > 0)]` not the same as `x[x <= 0]` where `x` is an atomic vector?

In [19]:
x

[1] -3 -2 -1

In [20]:
# what does the which function do?
y <- c(-2, -1, 0, 1, 2)
y[which(y >= 0)]

[1] 0 1 2

In [21]:
x[ x <= 0]

[1] -3 -2 -1

In [22]:
x[-which(x > 0)]

numeric(0)

In [23]:
print(x[-which(x > 0)])
print(x[x<=0])

numeric(0)
[1] -3 -2 -1

In [24]:
which(x > 0) # returns empty

integer(0)

It would work if `which` condition is not empty!

In [25]:
x  <- c(-3,-2,-1, 1) # recreate the vector
print(x[-which(x > 0)])
print(x[x<=0])

[1] -3 -2 -1
[1] -3 -2 -1

# 2. While Loops: 

The first basic form of *iteration.* While some logical condition is satisfied, keep performing an operation. (ProTip: make sure the condition is eventually false, or else the loop will run indefinitely.)

In [26]:
i <- 10 # typically: define an index/counter variable
while(i > 0) { 
  # body of while loop
  print(i**2) # repeated operation
  i <- i - 1 # some modification of the index variable
}

[1] 100
[1] 81
[1] 64
[1] 49
[1] 36
[1] 25
[1] 16
[1] 9
[1] 4
[1] 1

### 2.1 Generate random numbers from Normal(0, 1) and stop when you have more positive values than negatives. Write a function that implements the following algorithm and returns the number of iterations taken.

Algorithm:
1. set pc = 0 (positive counter) and nc = 0
1. Generate Y~Normal(0,1)
1. If Y>0 then pc = pc+1 otherwise nc = nc+1
1. Repeat 2-3 until pc>nc

Recall that `rnorm(n, 0, 1)` generates `n` numbers from a standard Normal distribution.

In [33]:
f <- function(){
    pc <- 0
    nc <- 0
    while(pc <= nc) {
      y <- rnorm(1, 0, 1)
      if (y > 0) { pc = pc + 1}
      else { nc = nc + 1}
    }
    return(pc + nc)
}

### 2.2 Call this function 100 times

In [40]:
result <- map_dbl(1:100, ~f())
result

  [1]      1     37      1 204903      1      3      1      1     11      1
 [11]      3      1   2569      1     37      1      3      3      3      9
 [21]     17      1      3      1      3      1      1     13     11      1
 [31]      3    159     15      5      1      3      1      1     37      1
 [41]    385      1      1      1      1      1      1   8101      1      1
 [51]     13    811  17247      9    265     11     13      1      1     55
 [61]      1      1      1      5    137      1    175      1      1      1
 [71]      5      1      5     43      1      9      1      1      1      1
 [81]      3     17      1      1      3      3      7      1      1    197
 [91]      1      1      5      1      1     25      1     15      1     13

# 3. For Loops

The other basic form of iteration.

In [41]:
seq(1, 21, 4)

[1]  1  5  9 13 17 21

In [42]:
# generic for loop
for(j in seq(1, 21, 4)) { # specify a vector for j to take values from
  print(j/(j**0.5))
}

[1] 1
[1] 2.236068
[1] 3
[1] 3.605551
[1] 4.123106
[1] 4.582576

In [43]:
for(j in 1:5) {
  print("Congratulations!")
}

[1] "Congratulations!"
[1] "Congratulations!"
[1] "Congratulations!"
[1] "Congratulations!"
[1] "Congratulations!"

### 3.1 Compute the mean of every column in mtcars with `na.rm = True`

In [44]:
mtcars %>% head

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [45]:
# hint: how do we relate the columns of mtcars to a vector?
seq_along(mtcars)
1:ncol(mtcars)
# hint 2: define an empty vector of an appropriate type

 [1]  1  2  3  4  5  6  7  8  9 10 11

 [1]  1  2  3  4  5  6  7  8  9 10 11

In [49]:
mtcars[, 4]
# mtcars %>% select(4)

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

In [60]:
results <- vector(mode = "double", length = ncol(mtcars))
for (i in seq_along(mtcars)) {
  results[i] <- mean(mtcars[, i], na.rm=T)
}
results

 [1]  20.090625   6.187500 230.721875 146.687500   3.596563   3.217250
 [7]  17.848750   0.437500   0.406250   3.687500   2.812500

### 3.2 Determine the type of each column of iris

In [55]:
results <- vector(mode = "character", length = ncol(iris))
for (i in seq_along(iris)) {
  results[i] <- typeof(iris[, i])
}
results

[1] "double"  "double"  "double"  "double"  "integer"

### 3.3 Compute the number of unique values in each column of iris.

In [59]:
length(unique(iris[, 1]))

In [64]:
results <- vector(mode = "double", length = ncol(iris))
for (i in 1:ncol(iris)) {
  results[i] <- length(unique(iris[, i]))
}
results

[1] 35 23 43 22  3

# 4. Reviewing Map Functions

As we can see, map functions are more elegant than explicit loops.

In [67]:
map_dbl(mtcars, mean, na.rm = T)

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

In [68]:
map_chr(iris, typeof)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
    "double"     "double"     "double"     "double"    "integer"

In [69]:
map_int(iris, ~ length(unique(.)))

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
          35           23           43           22            3

# 5. Recursive Functions

Recall the definition of a factorial number.

$n! = n(n-1)(n-2)\dots1$

We can simplify this by relating $n!$ to only $(n - 1)!$:

Recursive step: `factorial(n) = n*factorial(n-1)`\
Base case: `factorial(0) = 1`

In [70]:
factorial = function(n){
    if(n == 0){
        return(1) # base case
    }else{
        return(n*factorial(n-1))
    }
}

In [71]:
factorial(20)

[1] 2.432902e+18

### 5.1 Write a recursive function that computes the $n$th Fibonacci number, where

$F_n = F_{n-1} + F_{n - 2}$ and $F_0, F_1 = 1.$

You can speed up this computation by caching previous answers.

In [72]:
fib <- function(n) {
  if (n == 0) {
    return(1)
  }
  if (n == 1) {
    return(1)
  }
  else {
    return(fib(n-1) + fib(n-2))
  }
}

In [75]:
map_dbl(0:6, fib)

[1]  1  1  2  3  5  8 13

In [93]:
cache

  [1] 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [38] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 [75] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [100]:
cache <- vector(mode="integer", length=100)
cache[1] <- 1
cache[2] <- 1

fast_fib <- function(n) {
  if (n == 1) {
    return(1)
  }
  if (n == 2) {
    return(1)
  }
  else {
    if (cache[n] != 0) {
      return(cache[n])
    }
    else {
      cache[n] <- fast_fib(n-1) + fast_fib(n-2)
      return(cache[n])
    }
  }
}

In [105]:
map_dbl(1:30, fast_fib)

 [1]      1      1      2      3      5      8     13     21     34     55
[11]     89    144    233    377    610    987   1597   2584   4181   6765
[21]  10946  17711  28657  46368  75025 121393 196418 317811 514229 832040

### 5.3 Suppose Joe wants to climb $n$ steps on a stairway. Joe can climb either one step or two steps at a time. Write a function to find out how many ways there are for Joe to climb $n$ steps. 

For example, if $n=3,$ then Joe has 3 ways: (1,1,1), (1,2), and (2,1).

How do we break this down recursively?

Suppose the staircase is 10 steps long. After Joe moves once, there could be 8 or 9 steps left. What is the recurrence relationship? What is the base case?

In [98]:
num_ways <- function(n) {
  if (n == 1) {
      return(1)
  }
  if (n == 2) {
    return (2)
  }
  else {
    return( num_ways(n-1) + num_ways(n - 2))
  }
}

In [99]:
map_dbl(1:10, num_ways)

 [1]  1  2  3  5  8 13 21 34 55 89