<a href="https://colab.research.google.com/github/chathasphere/chathasphere.github.io/blob/main/teaching/306_materials/003_lab11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 11: Final Review
## April 12th, 2022

It's almost over!

Aiming to release the final exam on April 14th. You'll have a week to work on it. Same rules as the midterm exam.

In [ ]:
library(tidyverse)

## Exercise 1a.

The `billboard` data set lists Billboard top 100 hits from the year 2000. There are 76 columns that correspond to weeks that a song was in the top 100. Tidy up this data set so that it is in long format: there should a column called `week` indicating the week number and a column called `rank` specifying a song's rank in the top 100.

## Exercise 1b.
Which song was a top hit for the most weeks? List tracks (along with the artist) in descending order by the number of weeks they stayed in the top 100. (If you have heard of any of these songs then I'm impressed.)

## Exercise 1c.

Find all the artists with number one hits and count how many each had. Which artists had the most number one hits in 2000?

## Exercise 1d.

For each artist, create a column called `all_songs` listing the number of unique tracks they have. Using this column, find the subset of artists with at least 3 hits. Save this to a tibble called `many_hits`.

## Exercise 1e.

Bonus challenge: How many unique words (space-separated) are found in all songs in this data set?

## Exercise 2a.

Write a function called `is_prime` that accepts an integer argument `num`. This function should return True when given a prime number and false otherwise.

Hint: Suppose `num` is 21. Can you use a vector to tell how many numbers smaller than 21 and larger than 1 divide 21?

## Exercise 2b.

For $i =1, \cdots, 30,$ create a vector where the $i$th element is "duck" if $i+1$ is prime or "goose" if $i+1$ is not prime. Do this without loops.

## Exercise 2c. 
How would you print the above vector so that each element appears on a new line?

### Exercise 3a. 
Using a `map` function, find the mean of all numeric columns in the `msleep` data set. Round to two decimal places.

Also using a `map` function, find the number of unique values in each column of `msleep.`

## Exercise 3b.

Return the rows corresponding to the animals with the smallest `sleep_total` in their order.

## Exercise 3c.
Select only rows corresponding to animals whose names are made up of exactly two words (separated by a space).

## Exercise 3d.

For each order, find the animal with the longest name.

## Exercise 3e.

Create a scatterplot with `brainwt` on the x-axis and `sleep_total` on the y-axis. Use a log-10 transformation for the x-axis. Color points by `vore`. Plot a *single* linear line of best fit on top of the scatterplot.